{% extends 'supply_chain/market/_shell.html' %}
{% block title %}Choose an organisation{% endblock %}
{% block hero %}{% include 'supply_chain/market/_hero.html' with title="Which organisation?" %}{% endblock %}

{% block body %}
<div class="bg-white border border-brand-border-light rounded-[10px] p-5 max-w-xl">
  <ul class="space-y-2">
    {% for org in orgs %}<li><a class="text-brand-indigo hover:underline" href="{% url 'supply_chain:market_organisation' %}?org={{ org.pk }}">{{ org.name }}</a></li>{% endfor %}
  </ul>
</div>
{% endblock %}
